*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: lightcyan;
    display: grid;
    place-items: center;
}

form{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

form h3{
    font-weight: 500;
    color: darkcyan;
    text-align: center;
    margin-bottom: 20px;
}

form .input-group{
    margin-bottom: 20px;
}

form .input-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: rgb(8, 8, 8);
}

form .input-group input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #888;
}

form .input-group input:focus{
    outline: none;
}

form button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

form .input-group .error{
    font-size: 12px;
}

form .input-group.error .error{
    color: red;
}

form .input-group.error input{
    border: 1px solid red;
}

form .input-group.success input{
    border: 1px solid rgb(43, 197, 5);
}

@media all and (max-width:485px) {
    body{
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}